<h1 class="text-center">Our Creations</h1>
<div class="beer-blurb">
    <h4>Blurb about how amazing our beer is and how much we care: <span>ERROR FILE NOT FOUND</span></h4>
    <h4>Find these beers in our restaurant on tap and bottled wherever you buy beer.</h4>
</div>

{{#each productList}}
<div class="row product">
    <div class="col-md-4">
        <img class="img-responsive" src="static/images/beer.jpg" alt="">
    </div>
    <div class="col-md-8">
        <h2>{{this.name}}</h2>
        <h4>{{this.description}}</h4>
        <div class="beer-specs row">
            <div class="col-md-4">
                <h3>Availability</h3>
                <p>{{this.availability}}</p>
            </div>
            <div class="col-md-4">
                <h3>Alc. by Vol.</h3>
                <p>{{this.alc}}%</p>
                <h3>Bitterness</h3>
                <p>{{this.ibu}} IBUs</p>
            </div>
            <div class="col-md-4">
                <h3>User Review</h3>
                <p>{{this.review.content}}</p>
                <p>-- {{this.review.firstN}} {{this.review.lastN}}</p>
            </div>
        </div>
        <p>Product Code: {{this.id}}</p>
    </div>
</div>
{{/each}}